//color variables
$color-white: #fff;
$color-light-black: #1c1d1c;

$color-background: #fafaf9;
$color-text: #0f0f0f;

$color-text-selection-bg: #0e0e11;
$color-text-selection: #ff503f;

$color-github: #211f1f;
$color-codepen: #131417;
$color-linkedin: #0a66c2;
$color-instagram: #c32aa3;

//font variables
$font-display: "Open Sans", sans-serif;
$font-header: "Abel", sans-serif;
