*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;

  @include respond(tab-land) {
    //width < 1200
    font-size: 56.25%; //1rem = 9px => 9px / 16px == 56.25%
  }

  @include respond(tab-port) {
    //width < 900
    font-size: 50%; //1rem == 8px	=>  8/16 = 50%
  }

  @include respond(phone) {
    //width < 600
    font-size: 43.75%; //1rem == 7px	=>  7/16 = 43.75%
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-text-selection-bg;
  color: $color-text-selection;
}
