//margin top
.u-margin-top {
  margin-top: 20rem;
}

//social icons
.u-github-icon {
  color: $color-github;
}
.u-linkedin-icon {
  color: $color-linkedin;
}
.u-codepen-icon {
  color: $color-codepen;
}
.u-instagram-icon {
  color: $color-instagram;
}
